/* Responsive */
/* @media only screen and (min-width: 320px) and (max-width: 500px) {
      .max-width {
          width: 400px;
      }
  
      .header__top .max-width {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
      }
  
      .header__bottom__top .header__bottom__top--middle {
          position: absolute;
          left: 0;
          top: 200px;
      }
      
      .header__bottom__bottom {
          display: none;
      }
  }
  
  @media only screen and (min-width:501px) {
      .max-width {
          width: 1200px;
      }
  
      .header__top .max-width {
          justify-content: end;
      }
  } */

/* General CSS */
.max-width {
    position: relative;
    width: 1200px;
    margin: auto;
}

.icon {
    color: var(--blue-color);
}
.loading__container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid var(--light-gray-color);
    border-top: 5px solid var(--blue-color);
    border-radius: 50px;
    animation: loadingSpin 1s linear infinite;
    margin: 0px auto;
}

@keyframes loadingSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading--text p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    color: var(--blue-color);
}

/* Shopping cart style */
/* Shopping cart style */
.cart-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: space-between;
}

.cart-whitespace {
    width: 80%;
    display: block;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.shopping-cart {
    width: 20%;
    height: 100%;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.shopping-cart__container {
    position: relative;
    background-color: var(--font-color);
    width: 100%;
    z-index: 1000;
    display: block;
}

.shopping-cart__container .max-width {
    width: 90%;
    height: 100%;
}

.shopping-cart__header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.shopping-cart__header p {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.shopping-cart__header i {
    font-size: 20px;
    color: var(--blue-color);
    cursor: pointer;
    transition: var(--transition-all);
}

.shopping-cart__header i:hover {
    transform: scale(1.1);
}

.shopping-cart__body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shopping-cart__section--container {
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.shopping-cart__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shopping-cart--picture {
    border: 1px solid var(--light-gray-color);
    width: 30%;
    height: 108px;
}

.shopping-cart--picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shopping-cart--information {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.shopping-cart--name {
    font-size: 16px;
    font-weight: bold;
}

.shopping-cart__price {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.shopping-cart--quantity {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.shopping-cart--price {
    font-size: 18px;
    font-weight: bold;
    color: var(--blue-color);
    margin-left: 5px;
}

.shopping-cart__section i {
    color: var(--black-color);
    transition: var(--transition-all);
    cursor: pointer;
    height: 100%;
}

.shopping-cart__section i:hover {
    color: red;
}

.shopping-cart__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.shopping-cart__btn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shopping-cart__btn a {
    width: 100%;
}

.shopping-cart__btn button {
    width: 100%;
    height: 5vh;
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    margin: 10px 0px;
    transition: var(--transition-all);
    cursor: pointer;
}

.shopping-cart__btn button:hover {
    transform: scale(1.05);
}

.shopping-cart__btn a:nth-child(1) button {
    background-color: var(--black-color);
}

.shopping-cart__btn a:nth-child(2) button {
    background-color: var(--blue-color);
}

/* CSS */
.container {
    font-family: "Poppins", sans-serif;
}

/* Header CSS */
.header--font {
    font-size: 14px;
}

header {
    width: 100%;
    height: 22vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--light-black-color);
    z-index: 10;
}

/* Header Top */
.header__top {
    height: 15%;
    border-bottom: 1px solid var(--dark-gray-color);
}

.header__top .max-width {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header__top--section {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 80%;
    margin-left: 10px;
}

.header__top--section i {
    line-height: 30px;
}

.header__top--section p {
    color: var(--font-color);
    opacity: 90%;
    transition: all ease 0.2s;
    padding: 0px 10px;
    line-height: 30px;
}

.header__top--section p:hover {
    color: var(--blue-color);
    opacity: 100%;
}

/* Header Bottom */
.header__bottom {
    height: 85%;
    display: flex;
    flex-direction: column;
}

.header__bottom .max-width {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__bottom__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0px;
    /* padding: 50px 0px; */
}

.header__bottom__top--left img {
    width: 150px;
}

.header--input-background {
    /* border: 1px solid var(--black-color); */
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 44px;
}

.header--input-background input {
    border-radius: 3px 0px 0px 3px;
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.search-btn {
    cursor: pointer;
    background-color: var(--blue-color);
    opacity: 95%;
    border-radius: 0px 3px 3px 0px;
    border: none;
    outline: none;
    width: 15%;
    transition: all ease 0.3s;
}

.search-btn i {
    font-size: 20px;
    color: white;
    transition: all ease 0.3s;
}

.search-btn:hover {
    opacity: 100%;
}

.search-btn:hover i {
    transform: scale(1.1);
}

.header__bottom__top--right {
    display: flex;
    flex-direction: row;
}

/*  */
.header__bottom__top--right i {
    font-size: 25px;
    color: var(--font-color);
    padding: 0px 10px;
    line-height: 44px;
    transition: all ease 0.3s;
}

.header__bottom__top--right i:hover {
    color: var(--blue-color);
}

.header__bottom__bottom {
    position: relative;
    z-index: 100;
}

.header__bottom__bottom .max-width {
    position: relative;
}

/* Nav Bar */
nav {
    position: relative;
    z-index: 500;
}
.nav--sticky {
    /* width: 100%; */
    position: fixed;
    top: 0;
    transition: all ease 0.3s;
}

.nav--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: var(--blue-color);
}

.nav--item {
    overflow: hidden;
    cursor: pointer;
}

.nav--section {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    z-index: 1000;
}

.nav--section {
    text-transform: uppercase;
    cursor: pointer;
}

.nav--section p {
    color: var(--font-color);
    font-size: 15px;
    transition: all ease 0.3s;
    padding: 0px 5px;
}

.nav--section i {
    color: var(--font-color);
    transform: rotate(360deg);
    transition: transform ease 0.3s;
    padding: 0px 5px;
}

.nav--section:hover p {
    transform: scale(1.1);
}

.nav--item:hover .nav--section i {
    transform: rotate(180deg);
}

.nav--item:hover .nav--dropdown--animated {
    display: flex;
}

.nav--dropdown--position {
    position: relative;
}

.nav--dropdown {
    background-color: var(--font-color);
    width: 100%;
    height: 0vh;
    left: 0;
    box-shadow: 0px 0px 1px var(--black-color);
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0;
    animation: dropDown 0.3s ease forwards;
    transform-origin: top;
    z-index: 100;
}

@keyframes dropDown {
    from {
        transform: scaleY(0);
        height: 0;
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        height: inherit;
        opacity: 1;
    }
}

.nav--dropdown--animated {
    display: none;
}

.nav--item .nav--dropdown--section {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 3px 10px;
    width: 25%;
}

.nav--dropdown--section img {
    margin: auto;
}

.nav--dropdown--content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    padding: 10px 10px;
    border-right: 1px solid var(--light-gray-color);
}

.nav--dropdown--last-content {
    border: none;
}

.nav--dropdown--section img {
    width: 80%;
}

.nav--dropdown--section p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all ease 0.2s;
    cursor: pointer;
}

.nav--dropdown--section p:hover {
    color: var(--blue-color);
}

.nav--dropdown--section li {
    color: var(--black-color);
    font-weight: 14px;
    padding: 10px 0px;
    transition: all ease 0.2s;
    cursor: pointer;
    /* font-weight: bold; */
}

.nav--dropdown--section li:hover {
    transform: translateX(2%);
    color: var(--blue-color);
}

/* -------------------- Body -------------------- */

.body__top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: var(--lighter-blue-color);
    background-image: url(https://template.hasthemes.com/hmart/hmart/assets/images/about/breadcrunb-bg.webp);
    background-size: cover;
}

.body__top--text {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body__top--text p:nth-child(1) {
    font-size: 60px;
    font-weight: light;
    text-transform: capitalize;
}

.body__top--text p:nth-child(2) {
    font-size: 20px;
    color: var(--blue-color);
}

.body__top--text p:nth-child(2) a {
    text-transform: uppercase;
    color: var(--black-color);
}

.body__top--text p:nth-child(2) a:nth-child(1) {
    color: var(--black-color);
    transition: all ease 0.3s;
}

.body__top--text p:nth-child(2) a:nth-child(1):hover {
    color: var(--blue-color);
}

.body__top--text p:nth-child(2) a:nth-last-child(1) {
    color: var(--blue-color);
}

.body__bottom {
    margin-top: 100px;
}

.body__bottom .max-width {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin-bottom: 200px;
}

.body__pictureContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__bigPicture {
    width: 95%;
    height: 100%;
    border: 2px solid var(--light-gray-color);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body__bigPicture img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

/* .body__smallPictureContainer {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.max-widthPicture {
    width: 70%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.body__smallPicture {
    width: 30%;
    border: 2px solid var(--light-gray-color);
    border-radius: 10px;
    transition: var(--transition-all);
    cursor: pointer;
}

.body__smallPicture:hover {
    border-color: var(--blue-color);
}

.body__smallPictureActive {
    border-color: var(--blue-color);
}

.body__smallPicture img {
    object-fit: contain;
    width: 100%;
    height: 100%;
} */

.body__informationContainer {
    width: 50%;
    height: 100%;
    position: relative;
    padding-left: 10px;
}

.body__information--top {
    height: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--light-gray-color);
}

.body__information--name {
    font-size: 32px;
}

.body__information--priceContainer {
    display: flex;
    flex-direction: row;
    font-size: 32px;
}
.body__information--discount {
    color: var(--gray-font-color);
    text-decoration: line-through;
}
.body__information--barrier {
    color: var(--gray-font-color);
    margin: 0px 5px;
}

.body__information--price {
    font-weight: bold;
}

.body__information--rateContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 25px;
}

.body__information--rateStar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.body__information--rateStar i {
    color: #ffde00;
    font-size: 18px;
}

.body__information--rateText {
    font-size: 20px;
    color: var(--gray-font-color);
    margin-left: 20px;
}

.body__information--middle {
    margin: 20px 0px;
}

.body__information--text {
    font-size: 16px;
    line-height: 30px;
}

.body__information--typeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.body__information--type {
    display: flex;
    font-size: 16px;
    margin: 3px 0px;
}
.body__information--type p:nth-child(1) {
    color: var(--blue-color);
    margin-right: 5px;
}

.body__information--activity {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.body__information--btn {
    height: 50px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dark-brown-color);
    margin-right: 10px;
}
.body__information--quantityBtn {
    width: 15%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-brown-color);
    color: var(--font-color);
}

.body__information--btn i {
    color: var(--font-color);
    font-size: 18px;
}

.body__information--quantityBtn i {
    cursor: pointer;
    font-size: 14px;
}

.body__information--quantityBtn input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--font-color);
}
.body__information--quantityBtn input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.body__information--cartBtn {
    width: 30%;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--blue-color);
    transition: all ease 0.3s;
}

.body__information--cartBtn:hover {
    background-color: var(--black-color);
}

.body__information--wishlistBtn,
.body__information--compareBtn {
    width: 50px;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}
.body__information--wishlistBtn:hover,
.body__information--compareBtn:hover {
    background-color: var(--black-color);
}

.body__information--bottom {
    position: relative;
}

.body__information--nav {
    margin-top: 50px;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--light-gray-color);
}

.body__information--navActive {
    color: var(--blue-color);
}

.body__information--nav li {
    display: block;
    height: 100%;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: color ease 0.3s;
    cursor: pointer;
}
/* 
.body__information--nav li::after {
    display: block;
    content: "";
    border-bottom: 2px solid var(--blue-color);
    transform: scale(0);
    transform-origin: 0% 50%;
    padding-top: 10px;
    transition: all ease 0.3s;
    margin: auto;
} */

.body__information--nav li:hover {
    color: var(--blue-color);
}
/* .body__information--nav li:hover::after {
    transform: scale(1);
} */

.body__information--navContent {
    position: relative;
    margin-top: 20px;
}

.body__information--navInformation {
    display: flex;
    flex-direction: column;
}

.body__information--navRow {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    color: var(--black-color);
}

.body__information--navRow p:nth-child(1) {
    width: 20%;
    color: var(--dark-gray-color);
    text-transform: capitalize;
}

.body__information--navRow p:nth-last-child(1) {
    font-weight: bold;
    margin-left: 20px;
}

.body__information--navDescription {
    display: none;
    font-size: 17px;
}

.body__information--navRate {
    position: relative;
    display: none;
}

.body__information--rateBox {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.body__information--rateAvatar {
    margin-right: 20px;
}

.body__information--rateAvatar img {
    width: 70px;
}
.body__information--rateContent {
    display: flex;
    flex-direction: column;
}
.body__information--rateTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.body__information--rateName {
    display: flex;
    flex-direction: row;
}

.body__information--rateName p {
    font-size: 18px;
    font-weight: 600;
}

.body__information--rateStar {
    display: flex;
    margin-left: 10px;
}
.body__information--rateStar i {
    font-size: 12px;
    line-height: 1;
}

.body__information--rateReply {
    font-size: 16px;
    color: var(--gray-font-color);
    transition: all ease 0.3s;
    cursor: pointer;
}

.body__information--rateReply:hover {
    color: var(--blue-color);
}

.body__information--rateBottom {
    margin-top: 10px;
}
/*  ------------------- Footer ------------------ */
footer {
    position: relative;
    background-color: var(--light-blue-color);
    height: 40vh;
    margin-top: 100px;
    /* display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; */
}

footer .max-width {
    display: flex;
    flex-direction: row;
    height: 85%;
}

.footer__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    height: 50%;
    width: 100%;
}

.footer__max-width {
    width: 80%;
    margin: auto;
    position: relative;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.footer__icon--container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
}

.footer__icon--container li a {
    color: var(--font-color);
}

.footer__icon--container li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--footer-background-color);
    border-radius: 5px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    transition: all ease 0.3s;
}

.footer__icon--container li:hover {
    transform: translateY(-5%);
    background-color: var(--blue-color);
}

/* .footer__right {
      position: relative;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  } */

.footer--title {
    height: 20%;
}

.footer--section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer--list {
    position: relative;
    list-style: none;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer--list li {
    position: relative;
    font-size: 16px;
    transition: all ease 0.3s;
}

.footer--list li a {
    color: var(--black-color);
    transition: all ease 0.3s;
}

.footer--list li:hover {
    transform: translateX(5%);
}

.footer--list li:hover a {
    color: var(--blue-color);
}
